@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 9999999;
}