@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&family=Montserrat:wght@300;400;900&family=Open+Sans&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
  margin: 0;
  color: #1A2027;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}


.material-symbols-outlined {
  font-size: 48px;
}


body, html, .root{
  font-family: Open Sans, "Montserrat", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}