/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    
}

.sidebar-flex-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 40px;
}

.sidebar-item {
    height: 100%;
    padding-top: 8px;
}