/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* 

.sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    
}

.sidebar-flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-item {
    height: 100%;
    padding-top: 8px;
} */

.sidebar-flex-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

@media screen and (max-width: 780px){
    .sidebar-item{
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}