.link{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex: 0 0 auto;
}

.link-inactive:hover {
    background-color: rgb(231, 235, 240);
}

.active {
    background-color: #e8f0fe;
}

.link-item {
    text-decoration: none;
    color: inherit;
}

.link-container {
    padding: 16px 8px;
    margin-left: 16px;

}

.link-icon {
    height: 8px;
    width: 8px;
    font-size: 1.3rem;
}

.link-title, .link-icon {
    display: inline;
}

.link-title {
    font-size: 24px;
}
