.dash-proj-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: rgb(231, 235, 240);
    border-top-left-radius: 15px;
    margin-left: 30px;
}
.proj-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 30px 0;

}

.proj-item {
    padding: 0 24px 24px;
}